:root{
    --black-1 : #090c0f ; 
    --black-2: #0e1317 ;
    --gray-1 : #ced2d5 ; 
    --darkGreen: #0e1317;
    --lightBrown: #b99272 ; 
    --white : white ;
    --roboto :'Roboto', sans-serif;
    --oswald : 'Oswald', sans-serif; 
}

*{
    box-sizing: border-box;
    font-family: Roboto , sans-serif;
}
.oswald{
    font-family: 'Oswald', sans-serif;
}
.bg-black-1{
    background-color: var(--black-1) !important;
}
body
{
    margin: 0;
}
.section-padding{
    padding: 130px 0 ;
}
.section-bg{
    background-color: var(--black-1);
}
.fs-14px{
    font-size: 14px;
}
.color-light-brown{
    color: var(--lightBrown);
}
.section-intro-heading{
    text-align: start;


}

.section-intro-heading h6{
    color: var(--lightBrown);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.section-intro-heading h5{
    color: white;
    font-size: 42px;
    font-family: var(--oswald);
    margin-bottom: 30px;
    font-weight: 400;
}
.cta-btn-1{
    position: relative;
    overflow: hidden;
    background-color: var(--lightBrown);
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 32px;
    border-radius: 6px;
    border: none;
    transition: all 300ms ease;
    z-index: 0;
}
.cta-btn-1 span{
    font-size: 14px;
    transition: all 300ms ease;
    position: relative;
    z-index: 3;
}
.cta-btn-1 p{
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotate(-15deg) translate(0px ,-84px);
    background-color: white;
    transition: all 600ms ease;
    margin-bottom: 0;
}
.cta-btn-1:hover span{
    color: var(--lightBrown);
}
.cta-btn-1:hover p{
    transform: rotate(0deg) translate(0px ,0px);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
    transition: all 200ms ease;
}

.header-top{
    background-color: var(--black-1);
    color: var(--gray-1);
    padding: 15px 30px;
}

.header-social-links a{
    color: var(--gray-1) ;
    margin: 0 5px;
    padding: 0 5px;
    font-size: 16px;
}
.header-social-links a:hover{
    color: var(--lightBrown);
}
.header-navbar{
    background-color: var(--black-2);
    padding: 20px 30px;
}

.header-navbar .navbar-nav{
    flex-direction: row;
}

.header-navbar .navbar-nav{
    flex-direction: row;
}
.header-navbar .navbar-nav .nav-item{
    margin: 0 20px;
    padding: 5px;
}
.header-navbar .navbar-nav .nav-item .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
}
.dropdown-toggle::after {
    all: unset;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    border: none !important;
    background-color: transparent;
    width: 12px;
    height: 12px;
    background-image: url(../images/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.nav-item:hover .nav-link{
   color: var(--lightBrown) !important;
}
.nav-item .dropdown-menu {
    color: white;
    background-color: var(--black-1);
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    padding: 20px;
}

.dropdown-menu .dropdown-item {
    color: white;
    margin: 10px 0;
    text-transform: uppercase;
    padding: 10px 50px 0 10px;
}

.dropdown-menu .dropdown-item:hover{
    background-color: initial;
    color : var(--lightBrown);
}


/*HEADER*/

/*CTA BANNER*/
/*
.cta-banner-inner .splide__arrows{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
*/
.splide__arrows .splide__arrow{
    border: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}
.splide__arrows .splide__arrow--prev{

    transform: translateY(-50%);
    left: 0;
    z-index: 10;
}
.splide__arrows .splide__arrow--prev::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url(../images/nav-hover.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 600ms ease;
    cursor: pointer;
}
.splide__arrows .splide__arrow--prev:hover::before{
    opacity: 1;
}

.splide__arrows .splide__arrow--next::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url(../images/nav-hover.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) ;
    opacity: 0;
    transition: all 600ms ease;
    cursor: pointer;
}
.splide__arrows .splide__arrow--next:hover::before{
    opacity: 1;
}

.splide__arrows  .splide__arrow--next{

    right: 0;
    z-index: 10;
}
.cta-banner-inner .splide__track .splide__list .splide__slide{
    height: 1000px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta-banner-content{
    color: white;
}
.cta-banner-content-welcome span{
    text-transform: uppercase;
    padding-left: 70px;
    position: relative;
}
.cta-banner-content-welcome span::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 32px;
    height: 1px;
    background-color: var(--lightBrown);
}
.cta-banner-content-heading h1{
    font-size: 120px;
}
.splide__slide{
    background-color: rgba(0 , 0 , 0 , 0.3);
    background-blend-mode: darken;
}
/*CTA BANNER*/

/*ABOUT SECTION*/
.about-inner{
    gap: 60px;
}
.about-inner div:first-child{
    flex-basis: 40% ;
}
.about-inner div:last-child{
    flex-basis: 60% ;
}

.about-content p{
    color: var(--gray-1);
    line-height: 28px;
    margin-bottom: 30px;
}
.about-cta{
    background-color: var(--lightBrown);
    padding: 15px 20px;
    border-radius: 4px;
}
.about-cta h4{
    font-size: 22px;
    color: white;
    font-weight: 400;
    font-style: italic;
    line-height: 1.6;
}


/*ABOUT SECTION*/


/*SERVICE SECTION*/
.services-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    color: white;
}
.service-card{
    position: relative;
}
.service-card-content {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white !important;
}

.service-card{
    position: relative;
    overflow: hidden;
}

.service-card::before{
    position: absolute;
    content: '';
    inset: 24px;
    border: 1px solid var(--lightBrown);
    border-radius: 4px;
    opacity: 0.4;
    z-index: 1;
    transition: all 300ms ease;
}

.service-card-inner > img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    transition: all 900ms ease;
}
.service-card:hover .service-card-inner > img {
    transform : scale(1.05);
}
.service-card:hover::before{
    opacity: 0.6;
}
.service-card-inner:hover .black-overlay {
    opacity: 0.7;
}
.black-overlay{
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    z-index: 0;
    background-color: rgb(9, 12, 15);
    opacity: 0.8;
    transition: all 500ms ease;
}
.service-card-content h5{
    font-family: var(--oswald);
    font-size: 24px;
    margin-top: 5px;
}
/*SERVICE SECTION*/

/*BEST MENU SECTION*/
.best-menu{
    background-image: url(../images/category_bg.jpg);
}

.best-menu-inner{
    background-color: var(--black-1);
    background-image: url(../images/menu_logo.png);
    background-position: center;
    background-size: 38%;
    background-repeat: no-repeat;
    padding: 40px 40px;
    border-radius: 3px;
}
.best-menu-inner-card{
    display: flex;
    gap: 45px;
    align-items: center;
    padding: 30px 0;
}
.best-menu-inner-card .best-menu-inner-card-img img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.best-menu-inner-card-content h5{
    font-size: 24px;
    color: white;
    font-family: var(--oswald);
    font-weight: 400;
    margin-bottom: 15px;
}
.best-menu-inner-card-content p{
    color: var(--gray-1);
    margin-bottom: 25px;
}
.best-menu-inner-card-content h6{
    color: var(--lightBrown);
    font-family: var(--oswald);
    font-size: 24px;
    padding-left: 150px;
    position: relative;
    font-weight: 300px;

}
.best-menu-inner-card-content h6::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    height: 2px;
    border-top: 1px var(--lightBrown) dashed ;
}
/*BEST MENU SECTION*/


/*CHOOSE SECTION*/
.choose-section{
    position: relative;
}
.choose-bg-img-parent div:first-child{
    position: absolute;
    top: 18%;
    left: 10%;
}
.choose-bg-img-parent div:nth-child(2){
    position: absolute;
    top: 15%;
    right: 10%;
}

.choose-bg-img-parent div:nth-child(3){
    position: absolute;
    bottom: 15%;
    right: 10%;
}
.choose-features-item-content {
    margin-left: 25px;
}
.choose-features-item-content h6{
    color: white;
    font-family: var(--oswald);
    font-size: 24px;
    font-weight: 400;
}
.splide__slide
{
    background-color: transparent;
}
.menu-slider-inner .splide .splide__track{
    padding: 50px 0 0 0 ;
}
.menu-slider-track ul li{
    overflow: hidden;
    position: relative;
}
.menu-slider-track ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 800ms ease;
}
.menu-slider-track ul li:hover img{
    transform: scale(1.06);
}
.menu-slider-item-overlay{
    position: absolute;
    inset: 0px ;
    background-color: transparent;
    transition: all 400ms ease;
}
.menu-slider-track ul li .menu-slider-item-overlay .menu-slider-item-overlay-inner{
    position: absolute;
    inset: 25px;
    border: 1px solid var(--lightBrown);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--oswald);
    color: white;
    opacity: 0;
    transition: all 600ms ease-in-out;
}

.menu-slider-track ul li:hover .menu-slider-item-overlay{
    background-color: rgba(9, 12, 15, 0.7);
}
.menu-slider-track ul li:hover .menu-slider-item-overlay .menu-slider-item-overlay-inner{
    opacity: 1;
}
.menu-slider-item-tilted{
    transform: translateY(-50px);
}
/*CHOOSE SECTION*/

@media ( min-width : 1200px )
{
    .container{
        max-width: 1170px !important;
    }
}